html {
    padding: 0;
    margin: 0;
    min-height: 100%;
}

body {
    font-family: 'Cutive Mono', monospace;
    background-color: #D2D3D3;
    margin: 0;
    padding: 0;
    min-height: 100%;
}

p, h1 {
    color: white;
}

.container {
    background-color: #555759;
    min-height:  100vh;
    height: 100%;
    border-left: solid #E60000 0.5vw;
    border-right: solid #E60000 0.5vw;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        'title title '
        'board right-side';
    gap: 10px;
}


.navbar a {
    color:white;
    text-decoration: none;
}

a {
    cursor: pointer;
}

.title {
    color: white;
    grid-area: title;
    padding: 3vh 0 3vh;
}

.board {
    grid-area: board;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1vw;
}

.above-board {
    grid-column: 1 / 4;
}

.right-side {
    grid-area: right-side;
    display: grid;
    grid-template-columns: 1fr;
    align-content: end;
}

.grid-item {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-weight: bold;
}

.grid-item:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}


.button {
    margin: 1vh 0 1vh 0;
    border: solid black 3px;
    background-color: grey;
    border-radius: 10%;
    font-size: 4vh;
    text-align: center;
}


/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
    .grid-container {
        display: grid;
        grid-template:
            'title'
            'board'
            'right-side';
        gap: 10px;
    }
}


/*  SVG below this */
.center {
    background-color: #555759;
}

.base-timer-svg {
    height: 100%;
    width: 100%;
    transform: rotate(270deg);
}

/* Removes SVG styling that would hide the time label */
.base-timer-circle {
    fill: none;
    stroke: none;
}

/* The SVG path that displays the timer's progress */
.base-timer-path-elapsed {
    stroke-width: 7px;
    stroke: white;
}   

.base-timer-svg {
    height: 100%;
    width: 100%;
    transform: rotate(270deg);
}

/* Removes SVG styling that would hide the time label */
.base-timer-circle {
    fill: none;
    stroke: none;
}

/* The SVG path that displays the timer's progress */
.base-timer-path-elapsed {
    stroke-width: 7px;
    stroke: white;
}   

/* Buttons */
.container > div {
    color: white;
}

.container > div a {
    padding-bottom: 1px;
}

.container > div a:hover {
    border-bottom: solid 1px red;
    padding-bottom: 0px;
}

.buttons a {
    font-size: 1.3rem;
}

/* input */
.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 100%;
}

.form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #fff;
    outline: 0;
    font-size: 1.3rem;
    color: #fff;
    padding: 7px 0;
    cursor: pointer;
    background: transparent;
    transition: border-color 0.2s;
}
.form__field::placeholder {
    color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: pointer;
    top: 20px;
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #fff;
}

.form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-color: red;
    border-image: white;
    border-image-slice: 1;
    cursor: pointer;
}
.form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: white;
}

/* reset input */
.form__field:required, .form__field:invalid {
    box-shadow: none;
}

/** Woord */
.woord-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1%;
}

.letter {
    cursor: pointer;
}

.letter, .answer-letter {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    color:black;
    font-family: sans-serif;
    font-weight: bold;
}

.letter:after, .answer-letter:after{
    content: "";
    display: block;
    padding-bottom: 135%;
}

.number {
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    font-weight: bold;
}

/* Timer */
#timer {
    height: 10px;
    width: 100%;
    background-color: white;
}